body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 30px;
}

.card {
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.btn-custom {
    background-color: #007bff !important; /* Cor de fundo do botão */
    color: white !important; /* Cor do texto do botão */
    border-color: #007bff !important; /* Cor da borda */
}

.btn-custom:hover {
    background-color: #0056b3 !important; /* Cor de fundo do botão ao passar o mouse */
    border-color: #0056b3 !important; /* Cor da borda ao passar o mouse */
}

.alert {
    border-radius: 8px;
}
